h1 {
    background-color: gold;
    font-family: fantasy;
    text-align: center;
    padding: 10px;
}

.recipe-card {
    text-align: center;
}
.recipe-list {
    display: inline-block;
    text-align: left;
    color: gold;
    list-style: none;
    font-size: 24px;
    font-family: fantasy;
    text-decoration-color: rgb(254, 254, 254);
}

.middle {
    text-align: center;
    background-color: rgb(253, 253, 253);
    padding: 6px;
    border-style: groove;
    border-width: 6px;
    border-color: gold;
    color: rgb(0, 0, 0);
    font-family: fantasy; 
    font-weight: 600;
}

.contents {
    text-align: center;
}

.description {
    font-size: 20px;
    font-family: fantasy;
    padding: 4px;
}

.recipe-item {
    background-color: gold;
    margin: 10px;
    text-align: center;
    padding: 12px 20px;
    display: inline-block;
    border-width: 5px;
    border-style: groove;
    border-color: black;
}

.steps li {
    padding-top: 4px;
}

li {
    padding-top: 6px;
}
